$color-primary: rgb(255, 88, 55);
$color-secondary: rgb(255, 255, 255);
$color-highlight: rgb(83, 109, 254);
$color-border: rgb(254, 216, 207);
$color-error: rgb(255, 50, 50);
$color-shadow: rgba(237, 100, 69, 0.07);

$color-background-default: rgb(255, 255, 255);
$color-background-error: rgb(255, 247, 245);

$color-font-default: rgb(38, 50, 56);
$color-font-highlight: rgb(96, 125, 139);
$color-font-label: rgb(237, 100, 69);

$font-default: 16px "Poppins", sans-serif;
$font-logo: bold 22px "Nunito", sans-serif;

$border-roundness-default: 6px;
$border-roundness-small: 2px;

$threshold-tablet: 768px;
@mixin tablet {
  @media only screen and (min-width: $threshold-tablet) {
    @content;
  }
}

$threshold-desktop: 1024px;
@mixin desktop {
  @media only screen and (min-width: $threshold-desktop) {
    @content;
  }
}
