@import "./theme";

html {
  box-sizing: border-box;
  font: $font-default;
}

body,
#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  color: $color-font-default;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 0.2em;
  text-transform: capitalize;
}

h1 {
  font: $font-logo;
  text-transform: capitalize;
}

input,
select,
textarea {
  height: 2em;
  background-color: $color-background-primary;
  padding: 0.2em;
  border: none;

  &:focus {
    outline: solid 2px $color-primary;
  }
}

textarea {
  height: 10ex;
}

input:read-only {
  background-color: transparent;
  padding-left: 0;

  &:focus,
  &:hover {
    outline: none;
    cursor: default;
  }
}

a.active,
a.active * {
  color: $color-primary;
  fill: $color-primary;
  font-weight: bold;
}
