@import "./theme";

html {
  box-sizing: border-box;
  font: $font-default;
  color: $color-font-default;
}

body,
#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

label {
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 0.2em;
  text-transform: capitalize;
  color: $color-font-label;

  & > p {
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    text-transform: initial;
  }
}

h1 {
  font: $font-logo;
  text-transform: capitalize;
}

h2 {
  color: $color-font-label;
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
}

form {
  padding: 3.5em;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: 100%;

  @include tablet {
    grid-template-columns: 50% 50%;
  }

  .actions {
    grid-area: actions;
    display: flex;

    & > button {
      flex: 1 1;
      padding: 0.5em;

      svg {
        width: 1em;
        height: 1em;
        fill: $color-secondary;
      }

      &:not(:last-child) {
        margin-right: 0.5em;
      }
    }
  }
}

input,
select,
textarea {
  height: 1.75em;
  width: 100%;
  color: $color-font-highlight;
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

textarea {
  height: 10ex;
  resize: none;
  overflow: hidden;
}

button {
  height: 3rem;
  border-radius: $border-roundness-default;
  box-shadow: 0 2px 2px 0 $color-shadow;
  text-shadow: 0 1px 0 $color-shadow;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &[type="submit"] {
    color: $color-secondary;
    background-color: $color-highlight;
    box-shadow: 0 2px 2px 0 rgba(83, 109, 254, 0.25);
  }
}

a.active,
a.active * {
  color: $color-primary;
  fill: $color-primary;
  font-weight: bold;
}
