@import "../../theme";

.container {
  display: flex;
  height: 100%;
  align-items: center;
  text-transform: capitalize;

  @include desktop {
  }

  a {
    flex: 1 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $color-font-highlight;

    @include desktop {
      flex-direction: row;
      margin: 0.25em 0;
    }

    span {
      display: none;

      @include desktop {
        display: unset;
        margin-left: 0.5em;
      }
    }

    svg {
      font-size: 1.8em;

      @include desktop {
        display: none;
      }
    }
  }
}
