@import "../../../theme";

.background {
  @include desktop {
    width: 100%;
    background: url("/ingreso.svg") no-repeat 95%;
    background-size: auto 90%;
  }
}

.container {
  background-color: $color-background-default;
  border-radius: $border-roundness-default;
  max-width: 100%;

  @include desktop {
    margin: 1em;
    max-width: 34em;
  }
}
