@import "../../theme";

.field {
  display: flex;
  flex-direction: column;

  font-size: 0.8em;
  padding: 0.6em 1.2em;

  border: 1px solid $color-border;
  border-bottom: 3px solid $color-font-label;
  border-radius: $border-roundness-small $border-roundness-small 0 0;

  &:global(.error) {
    background-color: $color-background-error;
    & > label {
      color: $color-font-highlight;
    }
    & > p {
      color: $color-font-label;
      cursor: default;
      text-transform: capitalize;
      margin-bottom: -1.5em;
    }
  }
}
