@import "../../theme";

.form {
  padding: 0.5em;
  max-width: 60%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;

  background-color: $color-background-secondary;
}

.imageSection {
  flex: 1 1 19.6em;
  margin-right: 0.5em;
}

.mainSection {
  flex: 1 1 auto;
}

.infoSection {
  flex: 1 1 100%;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
