@import "../../theme";

.container {
  background: url("/ingreso.svg") no-repeat 95%;
  background-size: auto 90%;
  width: 100%;
}

.form {
  padding: 0.5em;
  margin: 1em;
  background-color: $color-background;

  display: flex;
  flex-wrap: wrap;

  @include desktop {
    max-width: 45vw;
  }
}

.imageSection {
  flex: 1 1 19.6em;

  @include tablet {
    margin-right: 0.5em;
  }
}

.mainSection {
  flex: 1 1 auto;
}

.infoSection {
  flex: 1 1 100%;
}

.field {
  display: flex;
  flex-direction: column;
}

.actions {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;

  & > button {
    margin-left: 0.5em;
    padding: 0.5em;
    width: 7em;

    svg {
      width: 1em;
      height: 1em;
    }

    &:not([type="submit"]) {
      display: none;

      @include desktop {
        display: unset;
      }
    }
  }
}
