@import "../../theme";

.layout {
  height: 100%;
  display: grid;

  background-image: url("/background.svg");

  grid-template-columns: 100%;
  grid-template-rows: 3em auto 3em;
  grid-template-areas:
    "header"
    "main"
    "menu";

  @include desktop {
    grid-template-columns: auto;
    grid-template-rows: 5.5em calc(100% - 5.5em);
    grid-template-areas:
      "header"
      "main";
  }

  header {
    grid-area: header;
    background-color: $color-background;
    box-shadow: 0 2px 3px 0 $color-shadow, 0 2px 7px 0 $color-shadow, 0 4px 5px 0 $color-shadow;
  }

  nav {
    grid-area: menu;

    @include desktop {
      display: none;
    }
  }

  main {
    grid-area: main;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer {
    background-color: $color-background;
  }
}
