@import "../../theme";

$desktop-nav-width: 13em;

.layout {
  height: 100%;
  display: grid;

  grid-template-columns: 100%;
  grid-template-rows: 3em auto 3em;
  grid-template-areas:
    "header"
    "main"
    "menu";

  @include desktop {
    grid-template-columns: $desktop-nav-width auto;
    grid-template-rows: 3em auto;
    grid-template-areas:
      "header header"
      "menu   main";
  }

  & > header {
    grid-area: header;
    border-bottom: 1px solid $color-borders;
  }

  & > nav {
    grid-area: menu;
  }

  & > main {
    grid-area: main;
    overflow-y: auto;

    @include desktop {
      padding-right: $desktop-nav-width;
    }
  }
}
