@import "../../../theme";

$border-roundness: 6px;

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(6, 1fr);
  }

  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 1em;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
  border-radius: $border-roundness;
  background-color: $color-background;
  box-shadow: 0 1px 3px 0 $color-shadow, 0 2px 1px 0 $color-shadow, 0 1px 1px 0 $color-shadow;

  img {
    border-radius: $border-roundness $border-roundness 0 0;
  }

  & > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.2em;

    p {
      color: $color-highlight;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

.loader {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.floating {
  font-size: 1.3rem;

  position: absolute;
  bottom: 3em;
  right: 1em;

  @include desktop {
    right: calc(100vw - #{$threshold-desktop});
  }

  display: flex;
  width: 2.5em;
  height: 2.5em;

  border: none;
  border-radius: 50%;
  background: $color-primary;

  & > svg {
    fill: $color-secondary;
    margin: auto;
  }
}
